.allAttractions {
    padding-left: 100px;
}

.attractionsCard {
    padding-bottom: 15px;
}

.row {
    padding-left: 100px;
}

.attractionImage {
    height: 250px;
    filter: grayscale(1);
}

.attractionImage:hover {
    filter: grayscale(0);
}