.attractionsCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; 
    padding-bottom: 15px;
    text-align: center;
}

.attractionImage {
    margin-top: 15px;
    height: 400px;
    filter: grayscale(1);
}

.attractionTitle {
    font-family: 'Kaushan Script';
    text-align: center;
    font-size: 30px;
    color: #343A40;
    text-shadow: 2px 2px 3px #ADB5BD;
    margin-top: 15px;

}

.attractionDescription {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    color: #6C757D;
    display: flex;
    word-wrap: wrap;
    text-align: center;
    font-size: 25px;
}

.attractionLocation {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #495057;
    font-weight: bolder;
    
}

.attractionWeb {
    text-decoration: none;
    font-style: italic;
    font-weight: bolder;
    color: #E9ECEF;
    font-size: 18px;
    text-shadow: 1px 1px 2px #212529;
}

.attractionWeb:hover {
    text-decoration: none;
    transform: scale(1.1) !important;
    color: #343A40;
}

.attractionImage:hover {
    filter: grayscale(0);
}

 /* heroimage */
 .attracthover {
    background-image: url(../assets/AttractionsImgs/9.png);
    background-size: cover;
    padding: 15rem 2rem;
    margin-bottom: 20px;
    filter: grayscale(1);
    z-index: 0;
    /* background-attachment: fixed; */
}

.attractsecond {
    font-family: Oswald;
    font-weight: bolder;
}

.item {
    width: auto;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #E9ECEF;
    text-align: center;
    color: #495057;
    font-size: 1.5em;
  }

.attracthover:hover {
    background-size: cover;
    filter: grayscale(0);
    /* background-attachment: fixed; */
}

.attracthover h1 {
    font-family: 'Kaushan Script';
    color: #F8F9FA;
    text-align: center;
    font-size: 60px;
    text-shadow: 2px 2px 3px #495057;
    /*  495057  6C757D ADB5BD CED4DA */
}

.attractheader h1 {
    font-family: 'Kaushan Script';
    text-align: center;
    padding-top: 50px;
}
.attractheader h2 {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 50px;
}

.crown {
    font-size: 0.75em;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.aboutblurb {
    margin-top: 25px;
    text-align: justify;
    font-size: 22px;
    margin-left: 15px;
    margin-right: 15px;
}

.att {
    display: flex;
    justify-content: center;
    padding-top: 75px;
    font-family: 'Kaushan Script';
    color: #6C757D;
    text-align: center;
    text-shadow: 2px 2px 3px #E9ECEF;
}

.att h2 {
    font-size: 40px !important;
}
.button {
    display: flex;
    justify-content: center;
    font-family: 'Oswald';
    font-weight: bolder;
    text-decoration: none;
    font-style: italic;
    font-weight: bolder;
    color: #E9ECEF;
    font-size: 22px;
    text-shadow: 1px 1px 2px #212529;
    padding-bottom: 25px;
    padding-top: 15px;
}

.button:hover{
    color: #E9ECEF;
    text-decoration: none;
    transform: scale(1.1);
}

@media (max-width: 800px) {
    .jumbotron h1 {
      font-size: 2em;
    }
    .attracthover {
      background-size: cover;
      max-height: 100px;
      max-width: 100%;
      /* filter: none; */
    }

    .attractheader h1{
      font-size: 20px;
    }

    .attractheader h2{
      font-size: 20px;
    }
    .item {
        font-size: .75em;
    }
  }


@media (max-width: 800px) {
    .attractionImage {
      height: 10em;
    }
    .attractionTitle {
        font-size: 1.5em;
    }
    .attractionDescription {
        font-size: 1em;
    }
    .attractionImage {
        filter: grayscale(0);
    }
    .att h2{
        font-size: 30px !important;
    }
  }
