/* heroimage */
.abouthover {
    background-image: url(../assets/ContactImgs/4.png);
    background-size: cover;
    /* background-attachment: fixed;
    background-size: 115%; */
    padding: 15rem 2rem;
    margin-bottom: 20px;
    filter: grayscale(1);
    z-index: 0;
    
}

.abouthover:hover {
    background-image: url(../assets/ContactImgs/4.png);
    background-size: cover;
    /* background-attachment: fixed;
    background-size: 115%; */
    filter: grayscale(0);
}

.abouthover h1 {
    font-family: 'Kaushan Script';
    color: #F8F9FA;
    text-align: center;
    font-size: 75px;
    text-shadow: 2px 2px 3px #495057;
    /*  495057  6C757D ADB5BD CED4DA */
}

.aboutheader h1 {
    font-family: 'Kaushan Script';
    text-align: center;
    padding-top: 50px;
}
.aboutheader h2 {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 50px;
}

.contact-form {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    justify-content: center;
    text-align: center;
}

.form-group {
    width: 500px;
}

.contact-label {
    font-family: 'Oswald';
    text-shadow: 1px 1px 2px #CED4DA;
    font-size: 21px;
}

.btn {
    font-family: 'Oswald';
    text-shadow: 1px 1px 2px #CED4DA;
    font-size: 21px;
}


 

 