form{
    text-align: center;
    color: white;
    size: 10%;
    
}
 

 .contact{
     background-image: url(../assets/ContactImgs/CityView2.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    
    font-size: 40px;
  }
      .btn{
          color:#f9f9fa ;
      }


      
     


 

 