#footer_background{
    padding: 0 !important;
    color: #E9ECEF;
    margin: 0;
}
#profileContainer{
    width: 100%;
   margin: 0!important;
    background-color: #212529;
}

#profileContainer.row {
    padding-top: 30px;
}

.footericon {
   margin-bottom: 7px;
}

#footerprofile ul li {
    float: left;
}