/* heroimage */
.jumbotron {
    background-image: url(../assets/HomeImgs/1.png);
    background-size: cover;
    padding: 15rem 2rem;
    margin-bottom: 20px;
    filter: grayscale(1);
    z-index: 0;
}

.homehover:hover {
    background-image: url(../assets/HomeImgs/1.png);
    background-size: cover;
    filter: grayscale(0);
}

.jumbotron h1 {
    font-family: 'Kaushan Script';
    color: #F8F9FA;
    text-align: center;
    font-size: 75px;
}

.header h1 {
    font-family: 'Kaushan Script';
    text-align: center;
    padding-top: 50px;
}
.header h2 {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 15px;
}

span {
    font-size: 0.75em;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.blurb {
    margin-top: 25px;
    text-align: center;
    font-size: 22px;
}
.gridElements{
    height: 400vh;
    position: relative;
    width: 32%;
    height: 28vh;
    float: right;
    justify-content: space-evenly; 
    object-fit: contain;
    overflow: hidden;
    color: white;
  }
  
  .gridElements img{
    width: 600px;
  }

  .imgWithText{
    position: relative;
    text-align: left;
    color: black;
    text-align: left 
    
  }
  .bottom-left {
    padding: 5px;
    bottom: 8px;
    left: 16px;
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
  } 
  /* .layoutHomeRight{
    float: center;
    width: 56%;
    height: 56vh;
    overflow-wrap: normal;
    overflow:hidden;
  } */