body {
    margin: 0;
    font-family: 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #212529;
    margin-left: 200px;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  } 

  /* navbar */

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 70px;
    text-decoration: none;
    background: #495057;
  }

  .sidenav h2 {
      font-family: 'kaushan script';
      text-align: center;
      color: #F8F9FA;
  }

  .sidenav ul li {
      text-decoration: none;
      list-style: none;
      font-size: 20px;
      margin-bottom: 15px;
  }

  .sidenav a {
      font-family: 'Oswald';
      color: #F8F9FA;
      text-decoration: none;
  }

  .sidenav a:hover{
    text-decoration: none;
    color: #6C757D;
    }



    /* media queries */

   @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

    @media (max-width: 400px){
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
            text-align: center;
        }
}